In [43]:
import csv
import pandas as pd
import numpy as np
import scipy
from tqdm import tqdm

### Spotify

In [2]:
# Defining a generator to save memory on reading csv
spotify_raw = "./proj1_spotify_data_v0.csv"
chunksizel = 1000

def prius_csv():
    reader = pd.read_csv(spotify_raw, chunksize=chunksizel)
    chunks = []
    for chunk in tqdm(reader):
        chunks.append(chunk)
    df = pd.concat(chunks)
    return df

spotify_processed = prius_csv()

4457it [00:34, 130.41it/s]

In [25]:
spotify_processed.dtypes

Unnamed: 0        int64
date             object
country          object
position          int64
streams           int64
track_id         object
artists          object
artist_genres    object
duration          int64
explicit           bool
name             object
year              int64
month             int64
day               int64
dtype: object

In [3]:
spotify_processed

,Unnamed: 0,date,country,position,streams,track_id,artists,artist_genres,duration,explicit,name,year,month,day
0,0,2021/04/15,de,82,625718,20IvMlpi4U5RuDnAlXSRiV,['Haftbefehl'],['german hip hop'],198746,False,Crackküche,2021,4,15
1,1,2019/01/31,jp,171,50896,0V1K6MU0utODk4yNqZKsFv,['Suchmos'],"['japanese r&b', 'j-rock', 'japanese soul', 'j...",408320,False,WATER,2019,1,31
2,2,2018/11/15,tr,59,185439,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,2018,11,15
3,3,2018/11/22,tr,133,111159,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,2018,11,22
4,4,2018/11/29,tr,166,96204,4qzZm5EIdFurBpDieEmVc9,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,2018,11,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4456004,5428016,2019/11/28,se,163,165644,7731grGgxDd7aBNpGOjm9k,['Ebbot Lundberg'],['swedish alternative rock'],252798,False,När löven faller,2019,11,28
4456005,5428017,2019/01/17,jp,161,49580,4Vm9XIi9AD1oK39xACmqk5,['THE ORAL CIGARETTES'],"['j-poprock', 'anime', 'j-rock', 'japanese ind...",257270,False,ワガママで誤魔化さないで,2019,1,17
4456006,5428018,2019/01/24,jp,139,56826,4Vm9XIi9AD1oK39xACmqk5,['THE ORAL CIGARETTES'],"['j-poprock', 'anime', 'j-rock', 'japanese ind...",257270,False,ワガママで誤魔化さないで,2019,1,24
4456007,5428019,2019/01/31,jp,151,53897,4Vm9XIi9AD1oK39xACmqk5,['THE ORAL CIGARETTES'],"['j-poprock', 'anime', 'j-rock', 'japanese ind...",257270,False,ワガママで誤魔化さないで,2019,1,31
4456008,5428020,2020/04/02,dk,172,65808,1selIVe40h0Ak2GVCzg5si,['Lord Siva'],"['danish pop', 'danish hip hop']",211500,False,Digital Kærlighed,2020,4,2

#### NFL Schedules

In [20]:
# Defining a generator to save memory on reading csv
spotify_raw = "./seasons/regular_season.csv"

def camry_csv():
    reader = pd.read_csv(spotify_raw, chunksize=chunksizel)
    chunks = []
    for chunk in tqdm(reader):
        chunks.append(chunk)
    df = pd.concat(chunks)
    return df

nfl_schedules = camry_csv()

1it [00:00, 250.12it/s]

In [21]:
nfl_schedules = nfl_schedules.dropna(subset=['game loc'])
nfl_schedules

,Unnamed: 0,year,week number,combined week date,result,score,game loc,turf adv,month,day
0,0,2015,Week 1,Sep 14,L,26-24,at Atlanta Falcons,away,9.0,14
1,1,2015,Week 2,Sep 20,L,20-10,vs Dallas Cowboys,home,9.0,20
2,2,2015,Week 3,Sep 27,W,24-17,at New York Jets,away,9.0,27
3,3,2015,Week 4,Oct 4,L,23-20,at Washington Redskins,away,10.0,4
4,4,2015,Week 5,Oct 11,W,39-17,vs New Orleans Saints,home,10.0,11
...,...,...,...,...,...,...,...,...,...,...
114,114,2021,Week 13,Dec 5,W,33-18,at New York Jets,away,12.0,5
116,116,2021,Week 15,Dec 21,W,27-17,vs Washington Football Team,home,12.0,21
117,117,2021,Week 16,Dec 26,W,34-10,vs New York Giants,home,12.0,26
118,118,2021,Week 17,Jan 2,W,20-16,at Washington Football Team,away,1.0,2
119,119,2021,Week 18,Jan 8,L,51-26,vs Dallas Cowboys,home,1.0,8

In [23]:
nfl_schedules['month'] = nfl_schedules['month'].astype(int, copy=True)
nfl_schedules

,Unnamed: 0,year,week number,combined week date,result,score,game loc,turf adv,month,day
0,0,2015,Week 1,Sep 14,L,26-24,at Atlanta Falcons,away,9,14
1,1,2015,Week 2,Sep 20,L,20-10,vs Dallas Cowboys,home,9,20
2,2,2015,Week 3,Sep 27,W,24-17,at New York Jets,away,9,27
3,3,2015,Week 4,Oct 4,L,23-20,at Washington Redskins,away,10,4
4,4,2015,Week 5,Oct 11,W,39-17,vs New Orleans Saints,home,10,11
...,...,...,...,...,...,...,...,...,...,...
114,114,2021,Week 13,Dec 5,W,33-18,at New York Jets,away,12,5
116,116,2021,Week 15,Dec 21,W,27-17,vs Washington Football Team,home,12,21
117,117,2021,Week 16,Dec 26,W,34-10,vs New York Giants,home,12,26
118,118,2021,Week 17,Jan 2,W,20-16,at Washington Football Team,away,1,2
119,119,2021,Week 18,Jan 8,L,51-26,vs Dallas Cowboys,home,1,8

In [28]:
nfl_schedules['month'] = pd.to_datetime(nfl_schedules['month'], format='%m').dt.month
nfl_schedules

,Unnamed: 0,year,week number,combined week date,result,score,game loc,turf adv,month,day
0,0,2015,Week 1,Sep 14,L,26-24,at Atlanta Falcons,away,9,14
1,1,2015,Week 2,Sep 20,L,20-10,vs Dallas Cowboys,home,9,20
2,2,2015,Week 3,Sep 27,W,24-17,at New York Jets,away,9,27
3,3,2015,Week 4,Oct 4,L,23-20,at Washington Redskins,away,10,4
4,4,2015,Week 5,Oct 11,W,39-17,vs New Orleans Saints,home,10,11
...,...,...,...,...,...,...,...,...,...,...
114,114,2021,Week 13,Dec 5,W,33-18,at New York Jets,away,12,5
116,116,2021,Week 15,Dec 21,W,27-17,vs Washington Football Team,home,12,21
117,117,2021,Week 16,Dec 26,W,34-10,vs New York Giants,home,12,26
118,118,2021,Week 17,Jan 2,W,20-16,at Washington Football Team,away,1,2
119,119,2021,Week 18,Jan 8,L,51-26,vs Dallas Cowboys,home,1,8

In [29]:
nfl_schedules.dtypes

Unnamed: 0             int64
year                   int64
week number           object
combined week date    object
result                object
score                 object
game loc              object
turf adv              object
month                  int64
day                   object
dtype: object

### Merging Datasets

In [33]:
# Filter by 'year' and 'month'
merged1_df = pd.merge(spotify_processed, nfl_schedules, on=['year', 'month'], how='inner')

In [36]:
# Make dataset smaller
merged1_df.drop('Unnamed: 0_x', axis=1, inplace=True)
merged1_df.drop('track_id', axis=1, inplace=True)
merged1_df.drop('combined week date', axis=1, inplace=True)
merged1_df.drop('day_x',axis=1,inplace=True)

In [39]:
#Make dataset smaller
merged1_df.drop('Unnamed: 0_y', axis=1, inplace=True)
merged1_df.drop('day_y', axis=1, inplace=True)
merged1_df.drop('score', axis=1, inplace=True)
merged1_df.drop('year', axis=1, inplace=True)
merged1_df.drop('month', axis=1, inplace=True)

In [40]:
merged1_df.head(1)

,date,country,position,streams,artists,artist_genres,duration,explicit,name,week number,result,game loc,turf adv
0,2018/11/15,tr,59,185439,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,Week 10,L,vs Dallas Cowboys,home

In [44]:
merged1_df.to_csv('./proj1_spotify_final_raw.csv')

#### Generate subsets for analysis

In [45]:
# Music Duration Dataframe 

MbD_df = merged1_df

# Create a new column to categorize duration as short, radio-ready, or long
MbD_df['duration_cat'] = pd.cut(MbD_df['duration'], bins=[0, 120000, 240000, float('inf')], labels=['short', 'radio-ready', 'long'])

In [46]:
# Create a new column to categorize dates as quarters
MbD_df['quarter'] = pd.PeriodIndex(MbD_df['date'], freq='Q')

In [47]:
# Bug fix to allow special characters and be able to group by artist
MbD_df['artists'] = MbD_df['artists'].str.replace('$', r'\$', regex=True)

In [52]:
MbD_df.head()

,date,country,position,streams,artists,artist_genres,duration,explicit,name,week number,result,game loc,turf adv,duration_cat,quarter
0,2018/11/15,tr,59,185439,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,Week 10,L,vs Dallas Cowboys,home,long,2018Q4
1,2018/11/15,tr,59,185439,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,Week 11,L,at New Orleans Saints,away,long,2018Q4
2,2018/11/15,tr,59,185439,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,Week 12,W,vs New York Giants,home,long,2018Q4
3,2018/11/22,tr,133,111159,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,Week 10,L,vs Dallas Cowboys,home,long,2018Q4
4,2018/11/22,tr,133,111159,['Nilipek.'],"['turkish singer-songwriter', 'turkish rock']",257142,False,Gözleri Aşka Gülen,Week 11,L,at New Orleans Saints,away,long,2018Q4

##### Distribution of Songs by Duration Category by Year

In [86]:
# Subset needed for charting, group by 
MbD_chart2 = MbD_df.loc[:,['name','streams','date','quarter','duration_cat','duration','week number']]

In [99]:
# Defining the terms of grouping 
MbD_df_chart2_grp = MbD_chart2.groupby('name').agg({\
    'streams': ['mean', 'sum','count'], 
    'duration': ['mean', 'sum'],
    'quarter': ['first','last'],
    })

In [101]:
# Formatting
MbD_df_chart2_grp.columns = [f"{col[0]}_{col[1].lower()}" for col in MbD_df_chart2_grp.columns]
MbD_df_chart2_grp = MbD_df_chart2_grp.reset_index()

In [103]:
# More Formatting
MbD_df_chart2_grp.columns = ['Song Name', 'Mean Streams', 'Total Streams', 'Stream Count', 'Mean Duration', 'Total Duration', 'First Quarter', 'Last Quarter']
MbD_df_chart2_grp

,Song Name,Mean Streams,Total Streams,Stream Count,Mean Duration,Total Duration,First Quarter,Last Quarter
0,2002,109962.199805,564655896,5135,186986.0,960173110,2018Q4,2020Q3
1,!,21651.913580,1753805,81,163956.0,13280436,2019Q3,2020Q1
2,"""Eléglesz""",8817.000000,8817,1,207000.0,207000,2016Q1,2016Q1
3,"""Hit the Quan"" #HTQ",523592.500000,3141555,6,181080.0,1086480,2015Q3,2015Q3
4,"""Jag fakking hatar er""",238270.000000,1191350,5,145969.0,729845,2018Q4,2018Q4
...,...,...,...,...,...,...,...,...
47729,이별을 배웠어 Always In My Heart,16380.000000,65520,4,203627.0,814508,2016Q4,2016Q4
47730,친구,10134.470588,344572,34,199338.0,6777492,2021Q4,2021Q4
47731,하루살이,8127.000000,24381,3,207112.0,621336,2018Q4,2018Q4
47732,🥶,55717.000000,167151,3,144649.0,433947,2021Q4,2021Q4
47733,🪐,29799.000000,148995,5,53184.0,265920,2021Q4,2021Q4

In [104]:
MbD_df_chart2_grp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47734 entries, 0 to 47733
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Song Name       47734 non-null  object
 1   Mean Streams    47734 non-null  float64
 2   Total Streams   47734 non-null  int64
 3   Stream Count    47734 non-null  int64
 4   Mean Duration   47734 non-null  float64
 5   Total Duration  47734 non-null  int64
 6   First Quarter   47734 non-null  period[Q-DEC]
 7   Last Quarter    47734 non-null  period[Q-DEC]
dtypes: float64(2), int64(3), object(1), period[Q-DEC](2)
memory usage: 2.9+ MB

In [105]:
MbD_df_chart2_grp.to_csv('../clean_sets/proj1_spotify_chart2_grp.csv')

##### Distribution of Songs by Streams and Length

In [54]:
# Subset needed for charting, group by NFL week number
MbD_df_chart1 = MbD_df.loc[:,['streams','date','quarter','duration_cat','duration','week number']]

In [81]:
# Defining the terms of grouping 
MbD_df_chart1_grp = MbD_df_chart1.groupby('week number').agg({\
    'streams': ['mean', 'sum','count'], 
    'duration': ['mean', 'sum'],
    'quarter': ['first','last'],
    })

In [82]:
# Formatting
MbD_df_chart1_grp.columns = [f"{col[0]}_{col[1].lower()}" for col in MbD_df_chart1_grp.columns]
MbD_df_chart1_grp = MbD_df_chart1_grp.reset_index()
MbD_df_chart1_grp.columns = ['Week Number', 'Mean Streams', 'Total Streams','Stream Count', 'Mean Duration', 'Total Duration', 'First Quarter', 'Last Quarter']

In [83]:
MbD_df_chart1_grp

,Week Number,Mean Streams,Total Streams,Stream Count,Mean Duration,Total Duration,First Quarter,Last Quarter
0,Week 1,308621.573311,116456807581,377345,212873.271256,80326664542,2019Q3,2016Q3
1,Week 10,303958.065842,80050092262,263359,212735.094479,56025701747,2018Q4,2015Q4
2,Week 11,307412.056257,115807347597,376717,212696.661276,80126448146,2018Q4,2017Q4
3,Week 12,307412.056257,115807347597,376717,212696.661276,80126448146,2018Q4,2017Q4
4,Week 13,333386.559129,134757180906,404207,210528.508195,85097096712,2018Q4,2016Q4
5,Week 14,316365.523583,105449374493,333315,211587.447820,70525270170,2018Q4,2016Q4
6,Week 15,333386.559129,134757180906,404207,210528.508195,85097096712,2018Q4,2016Q4
7,Week 16,333386.559129,134757180906,404207,210528.508195,85097096712,2018Q4,2016Q4
8,Week 17,303321.626569,109374442003,360589,212024.690687,76453771190,2018Q4,2016Q1
9,Week 18,337323.243324,18694454145,55420,203369.032515,11270711782,2021Q1,2021Q1
10,Week 2,308621.573311,116456807581,377345,212873.271256,80326664542,2019Q3,2016Q3
11,Week 3,308621.573311,116456807581,377345,212873.271256,80326664542,2019Q3,2016Q3
12,Week 4,305561.999328,101346665003,331673,211608.090441,70184690181,2019Q3,2017Q4
13,Week 5,299609.578173,117043380542,390653,212265.369225,82922103284,2019Q4,2016Q4
14,Week 6,299609.578173,117043380542,390653,212265.369225,82922103284,2019Q4,2016Q4
15,Week 7,299609.578173,117043380542,390653,212265.369225,82922103284,2019Q4,2016Q4
16,Week 8,326143.195207,105200749046,322560,210706.458860,67965475370,2019Q4,2016Q4
17,Week 9,292045.660736,75704076176,259220,214869.859837,55698565067,2016Q4,2017Q4

In [80]:
# Export Chart to csv for commit 
MbD_df_chart1_grp.to_csv('../clean_sets/proj1_spotify_chart1_grp.csv')